.blue_bird {
  display: none;
}

.squirrel {
  display: none;
}

.game{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.play-area{
  height: 100vh;
  width: 75vw;
  background: url('../images/Map.jpg') no-repeat;
  background-size: 100% 100%;
  display: flex;
}

.canvas{
  position: absolute;
}

.play-button{
  z-index: 6;
  cursor: pointer;
  width: 15%;
  height: 5%;
  border-radius: 5px;
  margin: 20px;
  border: 1px solid black;
  background: url('../images/parchment.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}

.basic_info{
  display: flex;
  flex-direction: column;
}