.store{
  background: url('../images/SideBar.jpg') no-repeat;
  background-size: cover;
  width: 50%;
  /* border: 1px solid red; */
  z-index: 6;
}

.status {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid red; */
}

.status div{
  font-size: 42px;
}

.squirrels {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basic_squirrel{
  z-index: 6;
  height: 15%;
  width: 60%;
  background: forestgreen;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  /* border: 1px solid red; */
  font-size: 36px;
}

.basic_squirrel_img{
  z-index: 7;
  /* border: 1px solid blue; */
  background: url('../sprites/owlet/Owlet_Monster.png') no-repeat;
  width: 25%;
  height: 90%;
  background-size: contain;
}