.splash{
  height: 100vh;
  background: url('../images/splash_background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-welcome{
  /* border: 1px solid red; */
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  font-family: 'Simonetta', cursive;
  font-size: 5vw;
  font-weight: bolder;
  margin-bottom: 40px;
}

.splash-play{
  margin-top: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  background: #006611;
  cursor: pointer;
  z-index: 5;
}

.objective{
  font-size: 46px;
}

.description{
  font-size: 24px;
  /* border: 1px solid red; */
  width: 90%;
}

.info{
  width: 40%;
  height: 80%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, .5);
  color: white;
}


