.splash{
  height: 100vh;
  background: url('../images/splash_background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-welcome{
  /* border: 1px solid red; */
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: center;
  font-family: 'Simonetta', cursive;
  font-size: 7vw;
  font-weight: bolder;
  margin-bottom: 40px;
}

.splash-play{
  margin-top: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 20%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  background: #006611;
  cursor: pointer;
  z-index: 5;
}



